@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Figtree", ui-sans-serif, system-ui, -apple-system, sans-serif;
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

html.large-text {
  font-size: 115%;
}